<!-- buscaodr -->
<div class="container py-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar restaurante ....">
          <span class="input-group-btn">
            <button class="btn btn-warning" type="button"><i class="fa fa-search fa-fw"></i>Buscar</button>
          </span>
    </div>
</div>
<!-- Caja de busqueda -->
<section class="search-box">
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-5 listing-block">
        <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
              <img class="d-flex align-self-start" src="https://fastly.4sqi.net/img/general/300x300/b9V1mVJUCQtMCJvsNtOkwoqKdiLPH9xox9bLqQqfvjw.jpg" alt="Generic placeholder image">
              <div class="media-body pl-3">
                <div class="price">Pollos Copacabana<small>La Paz</small></div>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>Pollo frito • $$</span>
                    <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                </div>
                <div class="address">Av Ballivian 1326 (entre Calle 19 y Calle 20), Nuestra Señora de La Paz</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
              <img class="d-flex align-self-start" src="https://fastly.4sqi.net/img/general/300x300/43186405_ya3sAz_JagbJAL2eMdYCh1-qALA2oJ_Epw9BeCq9j0I.jpg" alt="Generic placeholder image">
              <div class="media-body pl-3">
                <div class="price">Factory Bar and Grill<small>La Paz</small></div>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>Pollo frito • $$</span>
                    <!-- <span><i class="fa fa-bath"></i>2 Bedrooms</span> -->
                </div>
                <div class="address">El Megacenter, La Paz</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
              <img class="d-flex align-self-start" src="https://fastly.4sqi.net/img/general/300x300/20499869_Y6Vmdwrqo3RA26oYopxcN03q19_gY5LNC7QISrbUFEk.jpg" alt="Generic placeholder image">
              <div class="media-body pl-3">
                <div class="price">Pollos Rocky's<small>La Paz</small></div>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>Pollo frito • $$</span>
                    <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                </div>
                <div class="address">Montenegro, La Paz</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
              <img class="d-flex align-self-start" src="https://fastly.4sqi.net/img/general/300x300/22953059_0BQTJBMCJpKCZLRG8WKwym8xonni9LTkRI-It0mazDs.jpg" alt="Generic placeholder image">
              <div class="media-body pl-3">
                <div class="price">Wonder Chicken<small>La Paz</small></div>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>Pollo frito • $$</span>
                    <span><i class="fa fa-bath"></i>2 Beadrooms</span>
                </div>
                <div class="address">Av. Ballivian 1758 Torre CESUR Local 1A (Calle 24), La Paz</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
              <img class="d-flex align-self-start" src="https://fastly.4sqi.net/img/general/300x300/27859044_1Z8NxUrSfPDiPlHu-GzlSrnYJMcEdZQtXqVynEstYTI.jpg" alt="Generic placeholder image">
              <div class="media-body pl-3">
                <div class="price">Don "Pollo'' La Jungla<small>La Paz</small></div>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>Pollo frito • $$</span>
                    <!-- <span><i class="fa fa-bath"></i>1 Beadrooms</span> -->
                </div>
                <div class="address">Av Sanchez Lima (Belisario Salinas), La Paz</div>
              </div>
            </div>
        <div class="media">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
              <img class="d-flex align-self-start" src="https://fastly.4sqi.net/img/general/300x300/24721543_C4yx_M0SbgcVZUYNCBNoXVPHc_jqxm7fn0Iqa1F7X5Y.jpg" alt="Generic placeholder image">
              <div class="media-body pl-3">
                <div class="price">Pollos Mayra<small>La Paz</small></div>
                <div class="stats">
                    <span><i class="fa fa-arrows-alt"></i>Pollo frito • $$</span>
                    <span><i class="fa fa-bath"></i>1 Beadrooms</span>
                </div>
                <div class="address">Av. Ballivian Entre 34 y 35 de Cota Cota, La Paz</div>
              </div>
            </div>
		</div>
		<div class="col-md-7 map-box mx-0 px-0">
      <!-- GOOGLE MAP -->
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
	</div>
</div>
</section>