<!-- buscaodr -->
<div class="container py-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar restaurante ....">
          <span class="input-group-btn">
            <button class="btn btn-warning" type="button"><i class="fa fa-search fa-fw"></i>Buscar</button>
          </span>
    </div>
</div>
<!-- Caja de busqueda -->
<section class="search-box">
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-5 listing-block" *ngFor="let restaurant of restaurants">

      <div class="media">
        <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
        <img class="d-flex align-self-start" src="{{restaurant.photoUrl}}" alt="Generic placeholder image">
        <div class="media-body pl-3">
          <div class="price" routerLink="/restaurante/{{restaurant.idRestaurante}}">{{restaurant.nombre}} <small>La Paz</small></div>
          <div class="stats">
            <span><i class="fa fa-arrows-alt"></i>{{restaurant.tipo}}</span>
            <span><a href="{{restaurant.url}}" target="_blank">sitio web</a></span>
          </div>
          <div class="address">{{restaurant.descripcion}}</div>
        </div>
      </div>

		</div>
		<div class="col-md-7 map-box mx-0 px-0">
      <!-- GOOGLE MAP -->
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
	</div>
</div>
</section>