      <nav
        id="navegacion-principal"
        class="navbar navbar-expand navbar-dark fixed-top justify-content-between navbar-expand-lg bg-transparent"
      > 
        <a (click)="onActivate($event)" class="navbar-brand" [routerLink]="['content']">geo<span>Food</span></a>
        <!-- <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
          <ul class="navbar-nav w-100 justify-content-end">
            <!-- 
            <li class="nav-item">
              <a (click)="toggleCollapse()" class="nav-link" routerLinkActive="active" [routerLink]="['content']">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="anunciosdropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              Servicios
              </a>
              <div class="dropdown-menu" aria-labelledby="anunciosdropdown">
                <a (click)="toggleCollapse()" class="dropdown-item" [routerLink]="['content']">Desayuno</a>
                <a (click)="toggleCollapse()" class="dropdown-item" [routerLink]="['content']">Almuerzo</a>
                <a (click)="toggleCollapse()" class="dropdown-item" [routerLink]="['content']">Cena</a>
                <a (click)="toggleCollapse()" class="dropdown-item" [routerLink]="['content']">Café y té</a>
                <a (click)="toggleCollapse()" class="dropdown-item" [routerLink]="['content']">Nocturna</a>
                <a (click)="toggleCollapse()" class="dropdown-item" [routerLink]="['content']">Vegetariana</a>
              </div>
            </li>
            -->
            <li class="nav-item">
              <a (click)="toNavlink($event)" class="nav-link fondito" *ngIf="!isLogged" routerLinkActive="active" [routerLink]="['login']">Entrar</a>
            </li>
            <li class="nav-item">
              <a (click)="toNavlink($event)" class="nav-link fondito" *ngIf="!isLogged" routerLinkActive="active" [routerLink]="['signUp']">Registrarse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fondito" *ngIf="isLogged" [routerLink]="['profile']">Profile</a>
              </li>
            <li class="nav-item">
              <a (click)="onLogout()" class="nav-link fondito" *ngIf="isLogged" [routerLink]="['/']">Salir</a>
            </li>
          </ul>
        </div>
      </nav>