<!-- EXPLORADOR -->
    <section class="categorias mt-5">
        <h2 class="text-center">Explora las siguientes opciones</h2>
        <p class="text-center">Encuentra tu plato favorito</p>
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-6 col-md-4 text-center categoria">
                    <img src="./../../../assets/icons/cereales.svg">
                    <h3>Desayuno</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam qui aspernatur distinctio.</p>
                </div>
                <div class="col-6 col-md-4 text-center categoria">
                    <img src="./../../../assets/icons/fried-rice.svg">
                    <h3>Almuerzo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sed ipsa eum incidunt.</p>
                </div>
                <div class="col-6 col-md-4 text-center categoria">
                    <img src="./../../../assets/icons/pizza.svg">
                    <h3>Cena</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sequi in ipsum laboriosam et deleniti optio veritatis.</p>
                </div>
                <div class="col-6 col-md-4 text-center categoria">
                    <img src="./../../../assets/icons/te-verde.svg">
                    <h3>Café y té</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi minus esse laudantium magni. Aspernatur.</p>
                </div>
                <div class="col-6 col-md-4 text-center categoria">
                    <img src="./../../../assets/icons/margarita.svg">
                    <h3>Nocturna</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-6 col-md-4 text-center categoria">
                    <img src="./../../../assets/icons/verduras.svg">
                    <h3>Vegetariana</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis hic sint distinctio dolorem et.</p>
                </div>
            </div>
        </div>
    </section>