<div class="wrapper">
    <div class="contain">
      <div class="icon-items icon-items-1">
        <i class="fas fa-address-book"></i>
      </div>
      <div class="icon-items">
        <i class="fas fa-envelope-square"></i>
      </div>
      <div class="icon-items">
        <i class="fas fa-cogs"></i>
      </div>
      <div class="icon-items">
        <i class="fas fa-trash"></i>
      </div>
      <div class="search-box">
        <input type="text" class="input">
      </div>
      
      <div class="icon-items icon-1">
          <i class="fas fa-search"></i>
      </div>
      
    </div>
</div>